<section class="section1">
    <div class="wrapper">
        <div class="cuadro1">
            <h4 class="quick">50+ Quick Food Recipes</h4>
            <h4 class="easy">Easy To Do!</h4>
        </div>
        <div class="cuadro2">
            <br>
            <h1 class="about">About Us</h1>
            <br>
            <br>
            <p class="Nuestras">Nuestras recetas son el corazón y el alma de nuestra comunidad culinaria y
                reflejan nuestro
                compromiso de brindarle experiencias gastronómicas deliciosas y memorables.</p>
            <a class="aprendemas" href="#">Aprende más</a>
        </div>
    </div>
</section>


  